.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
    background-color: black;
    color: white;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
.menu__item-link{
    margin-left: 32px;
    color: white;
    text-decoration: none;
}
.btn{
    padding: 11px 20px;
    background-color: white;
    border: white solid 1px;
    border-radius: 6px;
}
.menu__item .btn span{
    position: relative;
    color: #000;
    background-color: white;
}
.ferst {
    background: url(../images/IMAGE.png) no-repeat center / cover, #000;
    background-attachment: fixed;
    height: calc(100vh - 8rem);
}
.flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    background: transparent;
    text-align: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
}
.flex h1{
    margin-bottom: 18px;
}
.satings-foto{
    display: flex;
    list-style: none;
}
.left{
    max-width: 600px;
    text-align: center;
}
.right{
    justify-content: flex-end;
    margin-left: 1000px;
    display: flex;
}
.satings-foto p{
    padding-left: 35px;
}
.satings-foto1:before{
        content: "";
        display: inline-block;
        height: 16px;
        width: 16px;
        position: absolute;
        background-image: url("../images/IMAGE2.svg");
        left: 10px;
        top: 2px;
}
.satings-foto1{
    position: relative;
}
.satings-foto2:before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    background-image: url("../images/IMAGE(1).svg");
    left: 10px;
    top: 2px;
}
.satings-foto2{
    position: relative;
}
.satings-foto3:before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 32px;
    position: absolute;
    background-image: url("../images/IMAGE(2).svg");
    left: 0px;
    top: 2px;
}
.satings-foto3{
    position: relative;
}
.satings-foto4:before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 10px;
    position: absolute;
    background-image: url("../images/IMAGE(3).svg");
    left: 15px;
    top: 2px;
}
.satings-foto4{
    position: relative;
}

